<html>
<head>
  <title>Login and Registration</title>
</head>
<body>

  <h1>Login</h1>

  <form action='/login' method='POST'>
    <input type="text" name="email" placeholder = "Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Login">
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h1>Register</h1>

  <form action='/register' method='POST'>
    <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="pass2" placeholder="Confirm Password"><br>
    <input type="submit" value="Register">
  </form>
</body>
</html>
