<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="/check" method="post">
      Email Address: <input type="text" name="email" id="email"></label><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
